*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;
}

.form {
    margin: 20px 0 0 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
}

.form img{
    width: 350px;

}

.form input{

    text-align: center;
    width: 300px;
    height: 40px;

}

.form input:focus{
    outline: none;
    border: 2px solid red;
}

.form button {
    margin: 10px 0 0 0;
    width: 250px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;;

}

h2{
    color: red;
}

#desistir{
    background-color: red;
}

.desconectar button {
    width: 80px;
    padding: 5px;
    background-color: orange;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}